[submodule "frontend"]
	path = frontend
	url = https://github.com/NXTProduct/sojo-webapp-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/NXTProduct/sojo-webapp-backend.git
